{% extends 'base/base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}



{% block content %}

<!DOCTYPE html>
<html>

    <body>
        <main>
            <h1>Create a New List</h1>
            <form method="post">
                {% csrf_token %} {% comment %} security measure that we include in ALL of our forms {% endcomment %}
                {{ form.as_p }}
                <button>Create</button>
            </form>
        </main>
    {% endblock content %}
    </body>

</html>