{% extends 'base/base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}



{% block content %}

<!DOCTYPE html>
<html>

    <body>
        <main>
            <div>
                <h1>Are you sure?</h1>
                <form method="post">
                    {% csrf_token %} {% comment %} security measure that we include in ALL of our forms {% endcomment %}
                    <button>Delete</button>
                </form>
            </div>
        </main>
    {% endblock content %}
    </body>

</html>