{% extends 'base/base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}



{% block content %}




<!DOCTYPE html>
<html>

    <body>
        <main>
            <div>
                <h1>{{ detail.name }}</h1> {% comment %} this is the detail (key from dictionary).name {% endcomment %}
                <p>
                    <a href="{% url 'todo_list_update' detail.id %}">Update list</a>  {% comment %} we pulled from "deatail" under our detial function {% endcomment %}
                </p>
                <p>
                    <a href="{% url 'todo_list_delete' detail.id %}">Delete list</a>
                    {% comment %} the url path "todo_list_delete" from urls.py is called here {% endcomment %}
                    {% comment %} the detail.id passes the id to the url path associated with todo_list_delete {% endcomment %}
                </p>


                <table>
                    <tr>
                        <th>Task</th>
                        <th>Due date</th>
                    </tr>

                        {% for todoitem in detail.items.all %}
                        {% comment %} detail."items".all = all of the items in that specific TodoList object.
                        "items" comes from the related_name im the models.py file.
                        TodoList object = "detal". detail is key in context dictionary in views.py {% endcomment %}
                        <tr>
                            <td>{{ todoitem.task }}</td>        {% comment %} this gets todoitem task {% endcomment %}
                            <td>{{ todoitem.due_date }}</td>    {% comment %} this gets todoitem due date {% endcomment %}
                        </tr>

                        {% endfor %}
                </table>
            </div>
        </main>
    {% endblock content %}
    </body>


</html>