{% extends 'base/base.html' %}

{% block title %}
    Todo Lists
{% endblock title %}


{% block content %}


<!DOCTYPE html>
<html>
    <body>
        <main>
            <div>
                <h1>My lists</h1>
                <p>
                    <a href="{% url 'todo_list_create' %}">Create a new list</a>
                </p>
                <p>
                    <a href="{% url 'todo_item_create' %}">Create a new item</a>
                </p>

                <table>
                    <tr>
                        <th>Name</th>
                        <th>Number of Items</th>
                    </tr>
                    <tbody>
                    {% for todolist in todolists %}  {% comment %} for each list in todolists, its grabing the whole list instance {% endcomment %}
                        <tr>
                            <td><a href="{% url 'todo_list_detail' todolist.id %}">{{ todolist.name }}</a></td> {% comment %} this refers to 'name = todo_list_detail' url. Then it calls on todolist.id {% endcomment %}
                            <td>{{ todolist.items.all | length }}</td>  {% comment %} "items" comes from models.py as it's the related name in this field {% endcomment %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </main>

    {% endblock content %}
    </body>


</html>